.back {
    height: 650px;
    background-color: #afe1af42;
    /* background-image: url("https://i.pinimg.com/originals/17/f0/5f/17f05fe00ece62503f2995f6e9fc70a7.jpg"); */
    margin: 10px;
}
.textt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-size: 53px;
    font-weight: 400;
  
    /* /* margin-bottom: 50px; */
    padding-bottom: 30px;
    margin-top: 250px;
    width: 700px;
}
.img-2{
    margin-right: 622px;
    margin-left: 502px;
  
}
span{
    color: rgb(1, 15, 1);
}
.img10{
    width: 950px;
    
}
.font-fix{
    font-family:cursive;
    color: darkgreen;
  padding-top: 150px;
  margin-left: 20px;
  padding-left: 100px;

  font-size: 50px;
}
.img12{
    width: 520px;
    height: 220px;
    margin-left: 40px;
} 
.backk{
    background-color: rgb(212, 233, 218);
}

.rounded-img {
    border-radius:50%; /* Adjust the border-radius as needed */
    width:250px;
    margin-left: 190px;
    margin-top: 50px;
    height: 190px;
  }
  .imff {
    background-image: url('https://i.pinimg.com/736x/0b/ac/7d/0bac7d5999fab3a72a033fcbd037fc7d.jpg');
    height: 300px;
    margin-top: 50px;
    background-repeat: no-repeat;
    width: 2000px; /* Adjust this value to your desired width */
    background-position: center; /* Use 'center' to center the background image horizontally */
    background-size: cover; /* Use 'cover' to make sure the background image covers the entire width */
  }
  