.img_fit{
    height: 80px;
    width:150px;
}
.nav{
    margin-left: 10px;
}
.navi{
    background-color:  #8eab9363;
    background-position: fixed;
   
}
.logo-image{
    height: 50px;
    border-radius: 50%;
    margin-left: 460px;
}

