.fruit{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imoo{
    margin-left: 90px;
    margin-top: 50px;
    height: 250px;
  
}
.imos{
    background-color:rgb(102, 148, 174);
    height: 400px;
    width: 130px;
}